name: Build Discovery Addon

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'

jobs:
  fmt:
    if: false # disabled
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make fmt
  vet:
    if: false # disabled
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make vet
  build:
    if: false # disabled
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - run: make cmd
  build-image:
    if: false # disabled
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: make image-podman